.task {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 1rem;
    justify-content: space-between;
    background: var(--gray-500);
    border-radius: 8px;
}

.task + .task {
    margin-top: 0.75rem;
}

.task p {
    flex: 1;
    line-height: 1.4;
    color: var(--gray-100);
    margin: 0;
}

.task button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;

    border-radius: 6px;

    padding: 0.375rem;

    transition: background 0.5s;
}

.task button:hover {
    color: var(--danger);
    background: var(--gray-400);
}

.customCheckbox {
    padding: 0.375rem;
    position: relative;
    display: inline-block;


  }

  .customCheckbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--blue);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }

  .customCheckbox input[type="checkbox"]:focus {
    outline: none;
  }

  .customCheckbox input[type="checkbox"]:checked {
    background-color: var(--purple-dark);
    border-color: var(--purple-dark);;
  }

  .customCheckbox input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 7px;
    width: 4px;
    height: 6px;
    border: solid var(--gray-100);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .checkedText {
    color: var(--gray-300) !important;
    text-decoration: line-through;
  }